@font-face {
	font-family: rubik;
	src: url('./Rubik-VariableFont_wght.ttf');
}

:root {
	font-size: clamp(16px, 2.5vmin, 40px);
	font-family: rubik, Arial, Helvetica, sans-serif;

	--accent-color: rgb(0, 180, 180);
}

body {
	padding: 5vmin;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	background-color: lightblue;
}

header {
	--head-height: 400px;

	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	height: var(--head-height);
}

header .social-container {
	margin-top: auto;
	display: flex;
	justify-content: end;
}

header .gh-icon {
	height: 1.8rem;
}

/* About Me */
.about {
	margin-right: 5%;
	padding: .5rem;
	height: calc(var(--head-height) - 4rem);

	border: 2px solid var(--accent-color);
	background-color: aliceblue;

	display: flex;
	flex-direction: column;
	justify-content: start;
}

.about h2 {
	margin-top: .5rem;
}

.about p {
	margin-top: 0;
}

main {
	width: 80vw;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(275px, 25vw), 1fr));
	gap: 1rem;
}

.card {
	border: 2px solid var(--accent-color);
	background-color: aliceblue;
	overflow: hidden;

	transition-duration: .5s;
}

.card:hover {
	scale: 1.05;
}

.screenshot {
	width: 100%;
	min-height: 50%;
	object-fit: cover;
	object-position: top;
}

.content {
	margin: .5rem;
}

.card .content h4 {
	margin: .5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content h4 .icon {
	height: 1.2rem;
}

.icon-container a {
	/* Fixes the underline that was appearing on icons */
	text-decoration: none;
}

.card .content p {
	margin: 0;
	font-size: .9em;
}

footer {
	width: 100%;
	background-color: var(--accent-color);
	border-radius: 2rem;

	display: flex;
	justify-content: center;
	gap: 2rem;
}

footer img {
	height: 400px;
}

.icon {
	transition: .5s;
}

.icon:hover {
	scale: 1.2;
	transform: rotate(2turn);
}

/* Utility Classes */
.shadow {
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.round-light {
	border-radius: .5rem;
}

/* Bigger screens */
@media (min-width: 1600px) {
	/* Static 2 cols so the cards and img is bigger */
	.card-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
